best_lightgcn_model_movielens-100k.pth
best_lightgcn_model_movielens-1m.pth
best_lightgcn_model_yelp.pth
yelp_processed_graph.pt
movielens-100k_processed_graph.pt
yelp/*
ml-100k/*
ml-1m/*
notebooks/processed_chunks
notebooks/ml-1m
notebooks/ml-100k
notebooks/best_lightgcn_model_movielens-100k.pth
notebooks/best_lightgcn_model_movielens-1m.pth
notebooks/best_lightgcn_model_yelp.pth
notebooks/yelp_processed_graph.pt
notebooks/movielens-100k_processed_graph.pt
notebooks/business_to_idx.pkl
notebooks/user_to_idx.pkl
notebooks/lightgcn_model_movielens-1m.pth
